

nav {
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  padding: 8px 24px;
  font-size: 1.2em;
  position: sticky;
  top: 0;
}

.home {
  /*margin: 0 auto;*/
  align-items: start;
  font-size:larger;
}

ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  gap: 40px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li {
  border-bottom: 1px solid transparent;
  transition: border-color 0.8s ease;
}



li:hover {
  transform: scale(1.1);
  border-color: rgb(174, 0, 0);
}

  